<!DOCTYPE html>


<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Allen. It uses data from MapBox.com and DarkSky.net.</p>
            <img class="portrait" src="/img/baby darth.jpg" alt="">
        </div>
        
        <p>{{>footer}}</p>
    </body>

</html>